body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    text-align: left;
    background-color: black;
    margin: 10px;
}
h1 #s1{
    color: white;
}
h1 #s2{
    color: lightcyan;
}
h2{
    margin: 10px;
    background-color: rgb(49, 49, 155);
    color: white;
    text-align: center;
}
h3{
    margin: 10px;
    background-color: lightblue;
    color: black;
    text-align: right;
    text-decoration: underline;
    font-size: 27px;
}
