
body {
    display: flex;
    flex-direction: column;
    
}
.row{
    display: flex;
    flex-direction: row;
    width: 100%;

}
.row .col {
    background-color: #f44336;
    flex: 1 3 auto;
    margin: 10px;
    padding: 10px;
}
.row .col-2 {
    background-color: #4CAF50;
    flex: 2;
    margin: 10px;
    padding: 10px;
}
.row .col-3 {
    background-color: #2196F3;
    flex: 3;
    margin: 10px;
    padding: 10px;
}